@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-theme: #5C2CB2;
}

.dark {
  --dark-theme: #1C2024;
  --lighter-dark: #212529
}

body {
  background-color: var(--main-theme);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 25em;
  /* border: 1px solid black; */
}

.card {
  width: 100%;
  padding: 4rem 0;
  background-color: #fff;
  text-align: center;
  border-radius: 0.5rem;
}

.card .img-container {
  height: 11.25rem;
  width: 11.25rem;
  display: block;
  margin: -8.7em auto 0 auto;
  background-color: #fff;
  box-shadow: 0 0 0 0.3em #fff, 0 0 0 0.9em var(--main-theme);
  border-radius: 50%;
}

.img-container img {
  width: 100%;
}

.container button {
  display: block;
  font-size: 1.2em;
  width: 90%;
  margin: 2em auto 0 auto;
  padding: 1.1em 0;
  border-radius: 0.3em;
  border: none;
  outline: none;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}
