@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-theme: var(--dark-blue);
  --purple-theme: #5C2CB2;
  --pink: #DB879E;
  --light: #BBD1D7;
  --blue: #2B5087;
  --dark-blue: #11294B;
}

.dark {
  --dark-theme: #1C2024;
  --lighter-dark: #212529
}

body {
  background-color: var(--main-theme);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 25em;
  /* border: 1px solid black; */
}

.card {
  width: 100%;
  padding: 4rem 0;
  background-color: #fff;
  text-align: center;
  border-radius: 0.5rem;
}

.card .img-container {
  height: 10.25rem;
  width: 10.25rem;
  display: block;
  margin: -8.7em auto 0 auto;
  background-color: #fff;
  box-shadow: 0 0 0 0.3em #fff, 0 0 0 0.9em var(--main-theme);
  border-radius: 50%;
}

.img-container img {
  width: 100%;
  /* height: 10rem;
  width: 10rem; */
  border-radius: 50%;
  object-fit: conver;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

form input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.6rem;
  color: var(--pink);
  font-size: 1rem;
  margin-top: 1.2rem;
}

::placeholder {
  color: rgb(220, 220, 220);
  font-size: 14px;
}

.container button {
  margin-top: 1rem;
  border-radius: 0.3em;
  border: none;
  outline: none;
  font-weight: 500;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  background-color: var(--pink);
  padding: 10px 0;
}
